.courseListTable{
    left      : 15%;
    margin-top: 5% !important; 
    margin-left: auto !important;
    margin-right: auto !important;
    width: 60% !important;
}


.courseListTitle{
    text-align: center;
    margin-top: 3% !important;
}

table, th, td {
    border: 1px solid !important;
}

th{
    text-align: center !important;
}
tr:nth-child(even) { 
    background-color: #F5F5F5; 
} 

.links {
    display: inline-block !important;
    padding-left: 14% !important;
    padding-right: 2% !important;
    
}
@media screen and (max-width: 1024px) {
    .courseListTitle{
        margin-top: 3% !important;
        margin-bottom: 3% !important;
    }

}
