.gradesTable{ 
    margin-top: 4% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.gradesListTitle{
    text-align: center;
}

table, th, td {
    border: 1px solid !important;
}

th{
    text-align: left !important;
}
tr:nth-child(even) { 
    background-color: #F5F5F5; 
} 

.links {
    display: inline-block !important;
    padding-left: 14% !important;
    padding-right: 2% !important;
    
}


@media screen and (max-width: 1024px) {
    .gradesListTitle{
        margin-top: 2% !important;
        margin-bottom: 6% !important;
        
    }

    .gradesListTable{
        margin-top: 2% !important;
    }

}

