.gradesHistoryTable{
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: -5% !important;
    
}


.gradeHistoryTitle{
    text-align: center;
    margin-top: 2% !important;
    
}

table, th, td {
    border: 1px solid !important;
}

th{
    text-align: center !important;
}
tr:nth-child(even) { 
    background-color: #F5F5F5; 
} 

.links {
    display: inline-block !important;
    padding-left: 14% !important;
    padding-right: 2% !important;
    
}

